<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp Page</title>
</head>
<body>
    <span th:text="${signupSuccess}" style="color:green"></span>
    <form method="post" action="/signupPage">
        <h1>Sign Up here</h1>
        <label >UserName :
        <input type="text" name="username">
        </label>
        <br><br>
        <label>Password :
        <input type="password" name="password">
        </label>
        <br>
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>